
.header {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
}

.MyLogo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  padding: 10px 12px;
  align-items: center;
}

.menuicon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.headline {
  background-image: url(header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary_text {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.intro {
  width: 327px;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.connect {
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.icons {
  width: 170.167px;
  height: 20px;
}

.works {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

.card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.mainimage {
  border-radius: 8px;
  width: 295px;
  height: 220px;
}

.leftblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primarytext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.text {
  width: 295px;
  height: 36px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 12px;
}

.first {
  display: flex;
  padding: 8px 0;
  align-items: center;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.second {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
  background: url(Counter.svg);
}

.third {
  display: flex;
  padding: 8px 0;
  align-items: center;
  color: var(--neutrals-n-100, #7a869a);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.fourth {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
  background: url(Counter2.svg);
}

.fifth {
  display: flex;
  padding: 8px 0;
  align-items: center;
  color: var(--neutrals-n-100, #7a869a);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.maintext {
  width: 295px;
  height: 76px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tag1 {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.tag2 {
  display: flex;
  padding: 4px 12px;
  flex-direction: row;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.tag3 {
  display: flex;
  flex-direction: row;
  padding: 4px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.action {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

.projectbutton {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.aboutmyself {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary {
  display: flex;
  width: 327px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.main_text {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.supportingtext {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.frame1 {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
}

.mediumicon {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.normalbutton {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.skill_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frame7 {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.Text {
  width: 237px;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.dropdown {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}

.separator {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.languagelist {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.languageframe {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.ellipse1 {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
}

.languagename {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.frame8-9 {
  width: 327px;
  height: 72px;
}

.text_frame8-9 {
  width: 237px;
  color: #000;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.button_frame8-9 {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  width: 24px;
  height: 24px;
}
