.works{
    display: inline-flex;
padding: 114px 24px;
flex-direction: column;
align-items: center;
gap: 88px;
}

.card1{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
}

.mainimage{
    border-radius: 8px;
background: url(Snapshoot\ Portfolio.svg), lightgray 50% / cover no-repeat;
width: 295px;
height: 220px;
}

.leftblock{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.primarytext{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.text{
width: 295px;
height: 36px;
color: var(--neutrals-n-800, #172B4D);
font-family: 'Poppins', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 44px; /
}

.frame{
    display: flex;
align-items: center;
gap: 12px;
}

.first{
    display: flex;
padding: 8px 0px;
align-items: center;
    color: var(--neutrals-n-600, #344563);
font-family: 'Poppins', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px; 
}

.second{
    width: 8px;
height: 8px;
fill: var(--neutrals-n-50, #C1C7D0);
background: url(Counter.svg)
}

.third{
    display: flex;
padding: 8px 0px;
align-items: center;
color: var(--neutrals-n-100, #7A869A);
font-family: 'Poppins', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px; 
}

.fourth{
    width: 8px;
height: 8px;
fill: var(--neutrals-n-50, #C1C7D0);
background: url(Counter2.svg)
}

.fifth{
    display: flex;
padding: 8px 0px;
align-items: center;
    color: var(--neutrals-n-100, #7A869A);
font-family: 'Poppins', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 16px; 
}

.maintext{
    width: 295px;
height: 76px;
    color: var(--neutrals-n-600, #344563);
font-family: 'Poppins', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.tags{
    display: flex;
align-items: center;
gap: 8px;
}

.tag1{
    display: flex;
    padding: 4px 12px;
    align-items: center;

    color: var(--primary-b-400, #6070FF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: 0.36px;
    border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
}

.tag2{
    display: flex;
padding: 4px 12px;
flex-direction: row;
align-items: center;
    color: var(--primary-b-400, #6070FF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: 0.36px;
    border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
}

.tag3{
    display: flex;
    flex-direction: row;
padding: 4px 12px;
align-items: center;
    color: var(--primary-b-400, #6070FF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: 0.36px;
    border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
}

.action{
    display: flex;
padding: 12px 169px 12px 0px;
align-items: center;
}

.projectbutton{
    display: flex;
padding: 12px;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--primary-b-400, #6070FF);
color: var(--primary-b-500, #396DF2);
text-align: center;

/* Button /Normal */
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 141.176% */
letter-spacing: 0.51px;
}
.card2{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
}

.card3{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
}

.card4{
    display: flex;
padding: 16px;
flex-direction: column;
align-items: center;
gap: 12px;
border-radius: 16px;
border: 1px solid var(--neutrals-n-40, #DFE1E6);
background: var(--neutrals-n-0, #FFF);
}